<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Fox Page</title>
</head>
<body>
<ul>
    <li><a href="/">Information</a> </li>
</ul>
<img style="display: block" src="/assets/greenfox.png"/>
<span th:text = "|This is ${fox.name}. Currently living on ${fox.food} and ${fox.drink}. He knows ${fox.tricks} tricks.|"/>
<h1>Known Tricks</h1>
<ul>
    <li>Write HTML</li>
    <li>code in Java</li>
</ul>
</body>
</html>